[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { ssl_options, [
                    {cacertfile,"/home/testca/cacert.pem"},
                    {certfile,"/home/server/cert.pem"},
                    {keyfile,"/home/server/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true},
                    {versions, ['tlsv1.2', 'tlsv1.1']}
                ]}
        ] }
].
